{deps, [
    {epgsql, ".*", {git, "https://github.com/wg/epgsql.git", master}},
    {epgsql_pool, ".*", {git, "https://github.com/SiftLogic/epgsql_pool.git", master}},
    {emysql, ".*", {git, "https://github.com/altenwald/Emysql.git", master}},
    {esqlite, ".*", {git, "https://github.com/altenwald/esqlite.git", master}},
    {cache, ".*", {git, "https://github.com/altenwald/cache.git", master}}
]}.

{cover_enabled, true}.
{cover_print_enable, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
