{deps, [
    {epgsql, ".*", {git, "https://github.com/wg/epgsql.git", master}},
    {epgsql_pool, ".*", {git, "https://github.com/SiftLogic/epgsql_pool.git", master}},
    {emysql, ".*", {git, "https://github.com/altenwald/Emysql.git", master}},
    {esqlite, ".*", {git, "https://github.com/altenwald/esqlite.git", master}}
]}.
